<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a href="/">
            <img style="width: 150px; margin-left: 5px;" src="/logo-vunesp.png" alt="">
            <ul>
                <a class="mx-auto px-5" href="/"><box-icon type='solid' name='home'></box-icon></a>
                <a class="mx-auto" href="/"><box-icon type='solid' name='bell'></box-icon></a>
            </ul>
        </a>

    </div>


</nav>
<br>

